@font-face {
    font-family: 'comic sands';
    src: url('font/ComicSands-Bold.otf') format('otf');
    font-style: bold;
}

@font-face {
    font-family: 'comic sands';
    src: url('font/ComicSands-Regular.otf') format('otf'),
    url('font/ComicSands-Regular.ttf') format('otf'),
    url('font/ComicSands-Regular.woff') format('woff');
    font-style : normal;
}


/* If screen size is more than 600px wide, set the font-size of <div> to 80px */
@media screen and (min-width: 600px) {

    body{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        margin-left: 10%;
        margin-top: 10%;
        margin-right: 10%;
        margin-bottom: 30%;
    }

    a{
        text-decoration: none;
    }

    .list{
        font-family: 'comic sands';
        font-style: normal;
        color: #373737;
        font-size: 2vw;
        text-decoration: none;
        display: list-item;
        list-style-type: "";
        margin-bottom: 1%;
        margin-left: -3%;
    }

    .title1{
        font-family: 'comic sands';
        font-style: normal;
        color: #373737;
        font-size: 6vw;
    }

    .body1{
        font-family: 'comic sands';
        font-style: normal;
        color: #a6a6a6;
        font-size: 2vw;
    }

    .title2{
        font-family: 'comic sands';
        color: #373737;
        font-size: 3vw;
        margin-left: 20%;
    }

    .title3{
        font-family: 'comic sands';
        color: #535353;
        font-size: 1.5vw;
        margin-left: 20%;
    }

    .body2{
        color: #a6a6a6;
        font-size: 2vw;
        font-family: 'comic sands';
        margin-left: 20%;
        margin-right: 20%;
    }

    .crush-image{
        width: 100%;
        height: 100%;
        margin-left: 0%;
        margin-right: 0%;
        object-fit: contain;
    }

    .get-app-div{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .get-app{
        position: fixed;
        background-color: black;
        font-size: 2vw;
        font-family: 'comic sands';
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        bottom: 0;
        margin-bottom: 1%;
        margin-left: 0%;
        border-radius: 60px;
        color: white;
        margin-left: -10%;
    }


}
  
/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) { 

    body{
        font-family: 'comic sands';
        font-style: normal;
        margin-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 40%;
    }
    
    a{
        font-family: 'comic sands';
        text-decoration: none;
    }
    
    .list{
        font-family: 'comic sands';
        color: #373737;
        font-size: 8vw;
        text-decoration: none;
        display: list-item;
        list-style-type: "";
        margin-bottom: 0%;
        margin-left: -15%;
    }
    
    .title1{
        font-family: 'comic sands';
        color: #373737;
        font-size: 10vw;
    }

    .title2{
        font-family: 'comic sands';
        color: #373737;
        font-size: 8vw;
    }

    .title3{
        font-family: 'comic sands';
        color: #a6a6a6;
        font-size: 4vw;
    }

    
    .body1{
        font-family: 'comic sands';
        color: #a6a6a6;
        font-size: 8vw;
    }

    .body2{
        color: #a6a6a6;
        font-size: 6vw;
        font-family: 'comic sands';
        margin-left: 0%;
        margin-right: 0%;
    }

    .crush-image{
        width: 100%;
        height: 100%;
        margin-left: 0%;
        margin-right: 0%;
        object-fit: contain;
    }

    .get-app-div{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    
    .get-app{
        position: fixed;
        background-color: black;
        font-size: 7vw;
        font-family: 'comic sands';
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        bottom: 0;
        margin-bottom: 5%;
        margin-left: 0%;
        border-radius: 60px;
        color: white;
        margin-left: -35%;
    }
}